@model IEnumerable<WebSovelluksetFinal.Models.Tilaus>

@{
    ViewData["Title"] = "Orders List";
}


@{
    if (Model != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EstimatedCost)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hours)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Comment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MachineryUsed)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FinishDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ApproveDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DiscardDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstimatedCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hours)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MachineryUsed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinishDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApproveDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiscardDate)
                    </td>
                    @if (item.Status == "VALMIS")
                     {
                        <td>
                            <input type="button" value="Approve" onclick="approveClicked(@item.ID)" />
                            <input type="button" value="Discard" onclick="discardClicked(@item.ID)" />
                        </td>
                     }

                    @if (item.Status == "TILATTU")
                    {
                         <td>
                            <a onclick="editClicked(@item.ID)">Edit</a>
                            <a onclick="deleteClicked(@item.ID)">Delete</a>
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        @ViewData["STATUSERROR"];

    }
}
